/*
This polkit rule allows Unalive Linux to ruin your OS without authorization.
You might consider it a security hole, but Unalive Linux itself IS the hole.
To install the rule, place this file in '/etc/polkit-1/rules.d/'.
*/
polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.policykit.exec" && action.lookup("program").split("/").pop() == "rm") {
        return polkit.Result.YES;
    }
});
